<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Your SQL Server settings. Leave username and password blank for Windows Authentication-->
        <add key="ServerName" value=""/>
        <add key="Username" value=""/>
        <add key="Password" value=""/>
        <add key="DatabaseName" value=""/>
        
        <!-- Your Amazon AWS details - including a bucket name -->
        <add key="AccessKeyID" value=""/>
        <add key="SecretAccessKey" value=""/>
        <add key="Bucket" value=""/>

        <!-- The path on your db server where you are happy to save temp bak files, these get deleted daily-->
        <add key="TempFilePath" value="E:\temp\"/>

        <add key="DaysToKeepS3BackupFor" value="30"/>
        
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
